*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $textcolor;
    background-color: #F2F1F6;
    box-sizing: border-box;
}
html{
    font-size: 65.25%;
    min-height: 100vh;
}
.container {
    width: 100%;
    //max-width: 1620px;
    //padding: 0 50px;
    margin: auto;
}

.main {
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    min-height: 80vh;
}

.row{
    @include clearfix;
    &:not(:last-child){
        margin-bottom: $glutter-vertical;
    }
    max-width: $gridwidth;
    margin: 0 auto;
    // background-color: $lightblue;

    [class^="col-"]{
        float: left;
        &:not(:last-child){
            margin-right: $glutter-horizontal;
        }
    }
}
.col-1-of-2{
    width: calc((100% - #{$glutter-horizontal})/ 2);
}
.col-1-of-4{
    width: calc((100% - 3*#{$glutter-horizontal}) / 4);
}
.col-1-of-3{
    width: calc((100% - 2*#{$glutter-horizontal}) / 3);
}

.center-text{
    text-align: center !important; 
}

.margin-bottom-big {
    margin-bottom: 8rem !important;
}
.margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.btn{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba($color: #000000, $alpha: .5);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
}
.btn-solid-primary{
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: $main-btn;
} 
.btn--s{
    height: 34px;
    padding: 0 15px;
    min-width: 60px;
    max-width: 190px;
} 
.btn--inline{
    display: inline-flex;
}
.orange{
    color: $main-btn;
}

.avargeSize{
    font-size: 6rem;
}
.smallSize{
    font-size: 3rem;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next{
    background: rgba(0,0,0,0.15);
    width: 2.7rem;
    height: 7.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.slick-prev{
    left: 0;
    &::before{
        display: none;
    }
}
.slick-next{
    right: 0;
    &::before{
        display: none;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 3fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include tablet {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .grid-col-sm-#{$val} {
        @include mobile {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}
.grid {
    display: grid;
}


.margin-right{
    margin-right: 1rem;
}
.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active{
    color: $main-bg;
}
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after{
    background: $main-bg;
}
.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active{
    color: $main-bg;
}
date-icon.e-icons.e-active{
    color: $main-bg;
}
.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active{
    color: $main-bg;
}
.e-calendar {
    background-color: $main-bg;
    border: 3px solid #7ec96c;
}
.e-calendar .e-content td:hover span.e-day, .e-calendar .e-content td:focus span.e-day, .e-bigger.e-small .e-calendar .e-content td:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td:focus span.e-day {
    background-color: $main-bg;
    border: 2px solid;
    color: #7ec96c;
}
.e-calendar .e-btn.e-today.e-flat.e-primary, .e-calendar .e-css.e-btn.e-today.e-flat.e-primary {
    background-color: $main-bg;
    border-color: #7ec96c;
    color: #7ec96c;
}
.e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background-color: $main-btn;
    color: #fff;
}
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after{
    background-color: $main-bg;
}
.button{
    background-color: transparent;
    border: 1px solid $black;
    cursor: pointer;
    &--circle{
        width: 5rem;
        height: 5rem;
        margin: .8rem;
        display: flex;
        transition: 250ms;
        border-radius: 2.5rem;  
    }
}
.marginAuto{
    margin: auto;
}
.low{
    background-color: $low-risk;
}
.medium{
    background-color: $medium-risk;
}
.high{
    background-color: $hight-risk;
}
.marginLeft{
    margin-left: 1rem;
}
.marginRight{
    margin-right: 1rem;
}
.marginRight-5{
    margin-right: .5rem;
}
.marginBottom2{
    margin-bottom: 2rem;
}
.marginBottom{
    margin-bottom: 1rem;
}
.alignItem{
    align-items: center;
}
.displaynone{
    display: none;
}
.displayflex{
    display: flex;
}
.marginTop{
    margin-top: 1.5rem;
}
.displayblock{
    display: block;
}
.padding1rem
{
    padding: 2rem 0 2rem 0;
}
.boxshadow{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.colorMain{
    color: $main-bg;
}
.colorBtn{
    color: $main-btn;
}
.colorBlue{
    color: $blue;
}
.colorYellow{
    color: $yellow;
}
.colorMiner{
    color: $miner
}

.bgcolorMain{
    background-color: $main-bg;
}
.bgcolorBtn{
    background-color: $main-btn;
}
.bgcolorBlue{
    background-color: $blue;
}
.bgcolorYellow{
    background-color: $yellow;
}
.bgcolorMiner{
    background-color: $miner
}
.cursor{
    cursor: pointer;
}