@import "./variables.scss";
@import "./mixins.scss";
@import "./bases.scss";

@import './Components/Header.module.scss';
@import './Components/Home/Banner.module.scss';
@import './Components/Home/ButtonSlider.module.scss';
@import './Components/Home/Product.module.scss';
@import './Components/Home/FlashSaleProduct.module.scss';
@import './Components/button.module.scss';
@import './Components//Home/ListCategories.module.scss';
@import './Components/Home/Deals.module.scss';
@import '~slick-carousel/slick/slick.scss'; 
@import "~slick-carousel/slick/slick-theme.scss";
@import "./Components/Home/ProductRecommend.module.scss";
@import "./Components/LoginPopup.module.scss";
@import './Components/RegisterPopup.module.scss';
@import url("https://cdn.syncfusion.com/ej2/material.css");
@import './Components/DropdownMenu/MenuLogin.module.scss';

