.emptyCart {
  width: 100%;
  &__container {
    box-sizing: border-box;
    background-color: $white;
    display: flex;
    max-width: 1200px;
    margin: auto;
    &--big {
      max-width: 1200px;
      margin: auto;
    }

  }
}
