.detailProduct {
  width: 100%;
  &__container {
    box-sizing: border-box;
    background-color: $white;
    display: flex;
    &--big {
      max-width: 1200px;
      margin: auto;
    }

    &__content {
      flex: 1;
      padding: 3rem;

      &__productName {
        font-size: 19px;
        font-weight: 600;
        color: black;
      }

      &__slidebar {
        display: flex;
        font-size: 1.25rem;
        color: #595454;
        &__space {
          margin: 1rem;
        }
      }

      &__price {
        color: #ff6600;
        font-weight: 500;
        font-size: 2rem;
      }

      &__quantityContainer {
        display: flex;
        margin-top: 40px;
        align-items: center;
        &__h4 {
          font-weight: 500;
        }

        &__quantity {
          display: flex;
          margin-right: 20px;
          margin-left: 20px;
          align-items: center;
          &__sign {
            width: 30px;
            border-width: 1px;
          }

          &__counter {
            width: 50px;
            border-width: 1px;
            border-right-width: 0px;
            border-left-width: 0px;
          }
        }
      }

      &__spaceContainer {
        display: flex;
        margin-top: 30px;
        &__button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #326e52;
          border-width: 0px;
          border-radius: 4px;
          height: 48px;
          width: 230px;
          margin-right: 1rem;
          color: #fff;
          padding: 1rem;
          font-size: 16px;
          font-weight: "500";
        }

        &__blueBtn {
          flex-direction: row;
          background-color: #0360ff;
          border-width: 0px;
          color: white;
          padding: 5px;
          margin-right: 10px;
          border-radius: 4px;
          width: 100px;
          height: 30px;
        }

        &__whiteBtn {
          flex-direction: row;
          background-color: #00000000;
          border-width: 0;
          padding: 5;
          border-radius: 4;
          padding: 0px 10px;
        }
      }

      &__marketing {
        display: flex;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #326e52;
      }
    }
  }
}
