.banner {
  width: 100%;
  padding: 1rem 15rem;
  position: relative;
  display: flex;
  
  &__container{
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  &__slider {
    height: 30rem;
    width: 70%;
    position: relative;
    overflow: hidden;
    //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    &__dot {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      &-dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 3px solid $main-btn;
        margin: 0 5px;
        background: $main-btn;
        &-active {
            background: $white;
        }
      }
    }
  }
  &__slide {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
    &__img {
      height: 100%;
      width: 100%;
    }
  }

  &__smalling{
    width: 30%;
    display: table-cell;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    &__img{
      width: 100%;
      height: 50%;
    }
  }

}
.active-anim {
  opacity: 1;
}
