.deal{
    width: 100%;

    &__container{
        padding: 0rem 4rem;
        width: 100%;
        box-sizing: border-box;
    }
    &__title{
        color: $main-btn;
        background-color: rgba($main-btn, .3);
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left{
            display: flex;
            align-items: center;
            &--h2{
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
        &__right{
            background-color: $main-btn;
            padding: .5rem;
            border-radius: .3rem;
            &--btn{
                text-decoration: none;
                color: $white;
                font-size: 1.7rem;
            }
            &:hover{
                transform: translateY(-0.2rem);
            }
            &:active{
                transform: translateY(0);
                
            }
        }
    }
    &__fl{
        background-color: $white;
        &__height{
            height: 90px;
            width: 90px;
        }
    }
}