.pro {
  display: inline-block;
  vertical-align: top;
  width: 90%;

  margin: 1rem 0;
  background-color: $white;
  &__wrapper {
    display: block;
    border: 2px solid transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.2s;
    &:hover {
      border-color: $main-btn;
      transform: translateY(-1rem) scale(1.03);
    }
  }

  &__img {
    position: relative;
    display: block;
    padding-bottom: 100%;
    width: 100%;
    overflow: hidden;
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
      z-index: 1;
    }
  }
  &__infor {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    &__h3 {
      color: $textcolor;
      font-size: 1.5rem;
      line-height: 2rem;
      min-height: calc(4rem);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &__content {
      font-size: 1.3rem;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      padding-bottom: 1rem;
    }
    &__price {
      color: $main-btn;
      display: flex;
      vertical-align: center;
      &--currency {
        font-size: 1rem;
      }
    }
  }
}
