.register{
  @extend .login;
    &__container{
        @extend .login__container;
        &__exit{
            @extend .login__container__exit;
        }
    }
    &__form{
        @extend .login__form;
        &__h1{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            text-align: center;
            color: rgba($black, 0.6);
        }
        &__realtive{
            position: relative;
        }
        &__input{
            background-clip: padding-box;
            border: 1px solid #c2c2c2;
            border-radius: 1px;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 1.4rem;
            height: 32px;
            line-height: 1.9;
            padding: 0px 9px;
            vertical-align: baseline;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 2rem;
    
            &:focus{
                outline: none !important;
                border: 1px solid $main-bg;
                box-shadow: 0 0 1rem rgba($main-bg, 0.2);
            }
        }
        &__i{
            position: absolute;
            right: 1rem;
            top: .8rem;
        }
        &__button{
            width: 100%;
            background-color: $main-bg;
            padding: 1rem 0;
            text-align: center;
            margin-top: 1rem;
            color: $white;
            border-radius: .3rem;
            margin-bottom: .5rem;
            cursor: pointer;
            &--btn{
                text-transform: uppercase;
                font-size: 1.4rem;
            }
            &:hover{
                background-color: rgba($main-bg, 0.8);
                transform: translateY(-2px);
            }
            &:active{
                transform: translateY(-1px);
            }
        }
        &__login{
            margin-top: 1rem;
            display: flex;
            text-align: left;
            color: $textcolor;
            font-size: 1.3rem;
            &--res{
                margin-left: .5rem;
                text-transform: uppercase;
                cursor: pointer;
                color: $main-btn;
            }
        }
        &__checkbox{
            display: flex;
            margin-top: 1rem;
            font-size: 1.4rem;
            color: $textcolor;
            text-align: center;
            align-items: center;
            align-content: center;
            &--cb{
                margin: 0 .5rem;
                &--input{
                    vertical-align: middle;
                    margin-right: .3rem;
                }
            }
        }
    }
    
}